



<form id="signup" action="/Doct/ambulance/"  method="POST" style="position:absolute; 
    left: 500px;
    display:inline-block;
    z-index:10;margin-top:25px;">
{% csrf_token %}
        
            <h3>Order Ambulance</h3>
          
            <p><a href="/Doct/patientH" title="Logout">Back</a></p>
     
     

             <p>City:<br>
            <select  type="text" name="city"  style="width:280px;padding: 12px 20px;
              margin: 8px 0;
              display: inline-block;
              border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box;" ng-model="location" required>
              <option value="Kampala">Kampala</option>
              

              </select>

            </p>



            <p>Area :<br>
              <select  type="text" name="area"  style="width:280px;padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;" ng-model="location" required>

                 {% include "Doct/area_in_kampala.html" %}

                </select>

           </p>
          

            <p style="padding: 12px">Phone number (Condition):<br>

            <input type="text" name="phone"  style="width:280px" placeholder="Phonenumber" required size='20'  autofocus>


              </p>

               <p style='padding: 12px'>Amount::<br>
                ugx.15,000
            
               </p>

                <p style="padding: 12px">
                Receiver Phonenumber:<br>
                0754307471


               </p>

            <p style="padding: 12px">
            <input type="submit" id="submit" value="Submit" name="SUBMIT" required>
           
             </p>

      

    </form>