

    <!-- FORM -->
    <!-- pass in the variable if our form is valid or invalid -->
    <form ng-app="myApp" action="/Doct/ambulance/"  class="form-style-6" method="post" ng-controller="validateCtrl" name="myForm" novalidate>
{% csrf_token %}
<h1>Fill Locations</h1>
<p><a href="/Doct/patientH" title="Logout">Back</a></p>

<p>District:<br>
<select name="districts" id="selectEl" ng-model="districts" required="True">
<option value="">Select option</option>
<option value="Kampala">Kampala</option>
<option value="Wakiso">Wakiso</option>
</select>
  <span style="color:red" ng-show="myForm.districts.$dirty && myForm.districts.$invalid">
  <span ng-show="myForm.districts.$error.required">District is required.</span>
  </span>
</p>
  
  <p>Place(e.g Banda):<br>
  <input type="text" name="place"  style="width:280px" ng-model="place" placeholder="Place" required>
  <span style="color:red" ng-show="myForm.place.$dirty && myForm.place.$invalid">
  <span ng-show="myForm.place.$error.required">Mobile Number is required.</span>
  </span>
</p>

 <p>Phone Number:<br>
  <input type="text" name="phone"  style="width:280px" ng-model="phone" placeholder="Phonenumber" required>
  <span style="color:red" ng-show="myForm.phone.$dirty && myForm.phone.$invalid">
  <span ng-show="myForm.phone.$error.required">Phone Number is required.</span>
  </span>
</p>

<p>Amount:<br>
  ugx.36,000
</p>

<p>Receiver Phonenumber:<br>
  0754307471
</p>

  <input type="submit"
  ng-disabled="myForm.districts.$dirty && myForm.districts.$invalid ||
  myForm.place.$dirty && myForm.place.$invalid ||
  myForm.phone.$dirty && myForm.phone.$invalid " class="btn btn-primary" value="Submit">
</p>

    </form>

    <script>
var app = angular.module('myApp', []);
app.controller('validateCtrl', function($scope) {
    $scope.districts = '';
    $scope.place = '';
    $scope.phone = '';
});
</script>



