<!DOCTYPE HTML>
{% load static %}
<html>
<head>
<title>Doctor(Medical)  Consultation Website | Home </title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="{% static 'css/slider.css' %}" rel="stylesheet" type="text/css" media="all"/>
<script src="http://code.angularjs.org/1.2.6/angular.js"></script> 
    <script src="app.js"></script>
</head>
<body>

{% block nav_bar %}

{% endblock %}



{% block sickness_det %}

{% endblock %}


<div class="header-banner">
<div class="wrap">
  <div class="banner">
    <div class="indent">
                
                {% block body_block %} 
                {% endblock %}  

                {% block body_images %} 

                {% endblock %}  





<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>
         </div>                                   

{% block side_menue %}

{% endblock %}

     
  </div>
    <div class="clear"></div>
      
        <div class="clear"></div>
      </div>
      </div>


      {% block bottom_content %}

    
        {% endblock %}

     </div>
      </div>

      </div></div>



      {% block footer %}


{% endblock %}
</body>
</html>
