{% extends 'Doct/base.html' %}
{% load staticfiles %}
<!-- 
link for the popup

http://makecodeeasy.blogspot.ug/2012/07/popup-in-java-script-and-css.html -->

{% block nav_bar %}
<div class="header">
<div class="wrap">
<div class="logo"><a href="index.html" style="color: #fff; font-size: 32px;"><img src="{% static 'images/logocon.jpeg' %}"  style="width:40px" alt="" />Online Doctor(Medical) Consulation</a></div>
   <div class="con-right">
      <div class="grid1-l-img">
        <img src="{% static 'images/contact.png' %}" alt="">
      </div>
      <div class="grid1-l-desc">
        <p>Contact : +256754307471</p>
      </div>
      <div class="clear"></div>
  </div>
    <div class="clear"></div>
     </div>
</div>
<div class="header-bottom">
      <div class="wrap">
        <ul id="nav">
                <li><a class="hsubs" href="/Doct/" title="Logout">Home</a></li>
                <li><a class="hsubs" href="/Doct/about/">About Us</a></li>
                <li><a class="hsubs" href="/Doct/team/">Our Team</a>
                 <li><a class="hsubs" href="/Doct/login/">Doctor/Admin Log In</a></li>
                <li><a href="/Doct/contact/">Contact Us</a></li>
                <li><a href="/Doct/how_it_works/">How it works</a></li>
                <li><a href="/Doct/convbaddy/">Converse</a></li>
                <li><a href="/Doct/whyus/">Why Us</a></li>
                    <ul class="subs">
                        <li><a href="#">Hotels</a></li>
                        <li><a href="#">Restaurants</a></li>
                        <li><a href="#">Beach Resorts</a></li>
                    </ul>
                </li>
               
        </ul>

       </div>
</div>

{% endblock %}



{% block body_block %}


{% if msg %}
{{msg}}
{% endif %}

{% if registered %}
		<strong>
		<script>alert("You have successfully registered")</script>
		</strong>
		<br />
{% endif %}

<div id="">

{% if signup %}

{% include "Doct/signup.html" %}

{% elif log  %}

{% include "Doct/login.html" %}

{% elif u_log  %}

{% include "Doct/u_log.html" %}


{% elif recfm  %}

{% include "Doct/index_rform.html" %}

{%  else %}

<style>

</style>




{% include "Doct/notifications.html" %}

  






 <form id="signup" action="/Doct/addcontact/" method="POST" style="margin-left: 340px;margin-top:25px;">
{% csrf_token %}
        <div class="header">
        
            <h3>Contact Us</h3>
          
            
        </div>
        
        <div class="sep"></div>

        <div class="inputs">
        
            <input type="Phonenumber" placeholder="Phonenumber" name="telno" required autofocus  style="width:260px;height:30px;padding: 7px;" /> <br/><br/>

            <input type="email" placeholder="e-mail" style="width:260px;height:30px;padding: 7px;" autofocus /> <br/>
        
            <textarea type="msg" placeholder="Message"  rows="6" cols="38" name="msg"></textarea> <br/>

            <input type="submit" id="submit"  placeholder="Enter Message" value="submit" name="SUBMIT" required>
           
            

        
        </div>

    </form>








<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div id="secure_area_message" align="center"></div>








{% endif %}


 
<div>

</div>



{% endblock %}


		




	
