{% extends 'Doct/base.html' %}

{% load staticfiles %}

{% block navbar %}

<div id = "navigation">

<nav class="cf">
  <ul class="topmenu">
    <!--<li><a href="#" title="Home Page" class="current">Home</a></li>
    -->

 
      <ul class="submenu">
              <li><a href="view_login.php" title="View Taxi Details">View Login</a></li>
          <li><a href="edit_login.php" title="Update Taxi Details">Update Login</a></li>                <li><a href="delete_login.php" title="Delete Taxi Details">Delete Login</a></li>           
                    </ul>

        </li>
          <li><a href="/Doct/" title="Logout">Home</a>
        <ul class="submenu">
              <!-- <li><a href="edit_username.php" title="Update Username">Change Username</a></li>   
                    <li><a href="edit_password.php" title=" Update Password">Change Password</a></li> -->
                    
                    </ul>
        
    </li>
   
   
 
     <li><a href="/Doct/receipt/">Print reciept</a>
          <ul class="submenu">
            <!--   <li><a href="view_verification.php" title="Verification Details">View Verification</a></li>
              <li><a href="edit_vcode.php" title="Verification Edit">Edit Verification</a></li> -->
                    
                    </ul>
         </li>


          <li><a href="/Doct/authdiog/">View Your Diognosis</a>
        <ul class="submenu">
              <!-- <li><a href="edit_username.php" title="Update Username">Change Username</a></li>   
                    <li><a href="edit_password.php" title=" Update Password">Change Password</a></li> -->
                    
                    </ul>
        
    </li>


     <li><a href="/Doct/repmsg/">Reply message</a>
        <ul class="submenu">
              <!-- <li><a href="edit_username.php" title="Update Username">Change Username</a></li>   
                    <li><a href="edit_password.php" title=" Update Password">Change Password</a></li> -->
                    
                    </ul>
        
    </li>

      <li><a href="/Doct/" title="Logout">Logout</a>
        <ul class="submenu">
             <!--  <li><a href="edit_username.php" title="Update Username">Change Username</a></li>   
                    <li><a href="edit_password.php" title=" Update Password">Change Password</a></li> -->
                    
                    </ul>
        
    </li>


  

   
                    
   </ul>
</nav>

</div>



{% endblock %}

{% block body_block %}


<div id="content">

<style>
.chat_window {
    position: fixed;
    display: block;
    bottom: 0px;
    right: 20px;
    z-index: 999;
    background: #fff;
    overflow: hidden;
    border: thin solid black;
    height: 26px;
    width: 200px;
}
.chat_window .live_support {
    width: 535px;
    height: 224px;
    float: left;
    border: none;
    display: none;
}
.chat_window {
    cursor: pointer;
    background: #F2F2F2;
    padding: 3px;
}
.chat_window {
    cursor: pointer;
    background: #F2F2F2;
    display: none;
    padding: 3px;
}
</style>



<script type="text/javascript">
   $('.chat_window').animate({'height': '252px', 'width': '537px'});
     $('#hide_live_support, #show_live_support, .live_support').toggle();
</script>


      <div id="content">
     {% if illness %} <script type="text/javascript">alert("You have successfully submitted your Illness details, Please view Your diognosis");
 return false;
 </script>
 {% endif %}


 {% include "Doct/notifications.html" %} 

 {% if pdiogs %}

{% endif %}



{% if qconvs %}

<table class="chat_box" style="position: absolute; left: 500px ">

<tr><td style="width: 200px;color: #337ab7;font-size: 18px;margin-left: 400px;font-weight: bold;"><h1  class="form-style-">Converse</h1></td></tr>
<tr><td style="width: 200px"><a href="#">
{{dname}}(Doctor)
<br/>
{{dtelno}}
</td></tr>

{% for qconv in qconvs %}

<tr><td style="width: 200px;background: #add8e6;">{{qconv.dtelno}}</td></tr>
<tr><td  style="width: 200px;background: #add8e6;">{{qconv.dmsg}}</td></tr>
<tr style=""><td  style="width:200px;background: #90ee90;">{{qconv.telno}}</td></tr>
<tr style=""><td  style="width:200px;padding-bottom: 7px;background: #90ee90;">{{qconv.pmsg}}</td></tr>

{% endfor %}  


<form action="/Doct/sendtext/"   method="post"  ng-app="myApp"  ng-controller="validateCtrl" name="myForm" class="form-style-6" novalidate>
{% csrf_token %}

<tr><td style="width: 100px; padding-bottom: 7px"><input type="hidden" name="telno" value="{{ptelno}}" style="width: 200px; border: 0px; padding-bottom: 7px"    id="dname"/></td></tr>

<tr><td style="width: 100px; padding-bottom: 7px"><input type="hidden" name="dtelno" value="0754307471" style="width: 200px; border: 0px; padding-bottom: 7px"    id="dname"/></td></tr>

<tr><td style="width: 100px; padding-bottom: 3px"><input type="text"  ng-model="pmsg" name="pmsg" style="width: 200px"    id="dname" required/>
<span style="color:red" ng-show="myForm.pmsg.$dirty && myForm.pmsg.$invalid">
  <span ng-show="myForm.pmsg.$error.required">Message is required.</span></td></tr>


<tr><td style="width: 100px; padding-bottom: 7px"><input ng-disabled="myForm.pmsg.$dirty && myForm.pmsg.$invalid" type="submit" name="submit" value="Converse" class="btn btn-primary"  /></td></tr>

<tr><td style="width: 100px; padding-bottom: 7px"></form>

  <script>
var app = angular.module('myApp', []);
app.controller('validateCtrl', function($scope) {
    $scope.pmsg  = '';
});
</script>


{% else %}



<tr><td><form action="/Doct/sendtext/"   method="post"  ng-app="myApp"  ng-controller="validateCtrl" name="myForm" class="form-style-6" novalidate></td></tr>
{% csrf_token %}
<tr><td style="width: 100px"><h1 style="color: #337ab7; font-size: 18px;font-weight: bold;">Converse</h1></td></tr>
<tr style="border: 0px; padding-bottom: 7px"><td style="width: 100px; padding-bottom: 7px"><input type="text" name="telno"  value="{{dname}}" style="width: 100px; border: 0px; padding-bottom: 7px" readonly="readonly" id="dname"/>(Doctor)</td></tr>

<tr><td style="width: 100px; padding-bottom: 7px"><input type="hidden" name="telno" value="{{ptelno}}" style="width: 200px; border: 0px; padding-bottom: 7px"    id="dname"/></td></tr>

<tr><td style="width: 100px; padding-bottom: 7px"><input type="hidden" name="dtelno" value="{{dtelno}}" style="width: 200px; border: 0px; padding-bottom: 7px"    id="dname"/></td></tr>

<tr><td"><input type="text" name="pmsg"  ng-model="pmsg"  style="width: 200px;  padding-bottom: 7px"    id="dname" required/>
 <span style="color:red" ng-show="myForm.pmsg.$dirty && myForm.pmsg.$invalid">
  <span ng-show="myForm.pmsg.$error.required">Message is required.</span></td></tr></td></tr>
  

<tr><td style="width: 100px; padding-bottom: 7px"><input id="send" ng-disabled="myForm.pmsg.$dirty && myForm.pmsg.$invalid"  type="submit" name="submit" value="Converse"  class="btn btn-primary" style="width: 100px; border: 0px;" /></td></tr>

<tr><td style="width: 100px; padding-bottom: 7px"></form></td></tr>


  <script>
var app = angular.module('myApp', []);
app.controller('validateCtrl', function($scope) {
    $scope.pmsg  = '';
});
</script>


{% endif %}


</table>

{% if pdiogs %}

 






<table>

</table>


<table>
<tr>

<td>
<table  style="left:0px;margin-left: 0px; ">
<tr><td>
<table style="margin-right: 500px; top: 0px;">

{% if pdiogs %}

{% for pdiog in pdiogs %}


{% endfor %}  

</table>


 <td style="margin-top: 0px"></td></tr>

{% else %}



</td>

<td>
<table>

<tr>


{% endif %}

</td></tr>
</table>

</td>
<td>
<table>

<tr>
 <td style="margin-top: 0px"></td></tr>



</table>
{% else %}





{% endif %}






</div>





{% block footer %}

<p  style="margin-top: 900px;">Posted by Mandela Shaban<br/>Contact Information:<a href="mailto:mandelashaban593@gmail.com">mandelashaban593@gmail.com</a><br/>
&copy; Consult Doctor : Fast and Cheap Response 2016</p>

{% endblock %}

{% endblock %}