{% extends 'Doct/base.html' %}
{% load staticfiles %}
<!-- 
link for the popup

http://makecodeeasy.blogspot.ug/2012/07/popup-in-java-script-and-css.html -->

{% block navbar %}
<div id = "navigation">

<nav class="cf">
  <ul class="topmenu">
    <!--<li><a href="#" title="Home Page" class="current">Home</a></li>
    -->
     <li><a href="/Doct/" title="Logout">Home</a>
        <ul class="submenu">
            <!--   <li><a href="edit_username.php" title="Update Username">Change Username</a></li>   
                    <li><a href="edit_password.php" title=" Update Password">Change Password</a></li> -->
                    
                    </ul>
        
    </li>
   
 


     <li><a href="/Doct/convbaddy/">Converse</a>
        <ul class="submenu">
              <!-- <li><a href="edit_username.php" title="Update Username">Change Username</a></li>   
                    <li><a href="edit_password.php" title=" Update Password">Change Password</a></li> -->
                    
                    </ul>
        
    </li>

     
  
</nav>

</div>





{% endblock %}


{% block body_block %}
<strong style="color:#CCCCCC;"></strong>
{% if msg %}
{{msg}}
{% endif %}

{% if registered %}
		<strong>
		<script>alert("You have successfully registered")</script>
		</strong>
{% endif %}

<div id="">

{% if log %}

{% include "Doct/convauth.html" %} 

{% elif log  %}

{% include "Doct/login.html" %}

{% elif u_log  %}

{% include "Doct/u_log.html" %}


{% elif recfm  %}

{% include "Doct/index_rform.html" %}

{%  else %}

{% include "Doct/convauth.html" %} 



</div>

{% endif %}
</div>

<div>








</div>



{% endblock %}


		




	
