{% extends 'Doct/base.html' %}

{% load staticfiles %}

{% block navbar %}

<div id = "navigation">

<nav class="cf">
  <ul class="topmenu">
    <!--<li><a href="#" title="Home Page" class="current">Home</a></li>
    -->


          <li><a href="/Doct/" title="Logout">Home</a>
        <ul class="submenu">
              <!-- <li><a href="edit_username.php" title="Update Username">Change Username</a></li>   
                    <li><a href="edit_password.php" title=" Update Password">Change Password</a></li> -->
                    
                    </ul>
        
    </li>
   
   
 
     <li><a href="/Doct/doctor_receipt/">Print reciept</a>
          <ul class="submenu">
            <!--   <li><a href="view_verification.php" title="Verification Details">View Verification</a></li>
              <li><a href="edit_vcode.php" title="Verification Edit">Edit Verification</a></li> -->
                    
                    </ul>
         </li>


          <li><a href="#">View Your Diognosis</a>
        <ul class="submenu">
              <!-- <li><a href="edit_username.php" title="Update Username">Change Username</a></li>   
                    <li><a href="edit_password.php" title=" Update Password">Change Password</a></li> -->
                    
                    </ul>
        
    </li>


          <li><a href="/Doct/ind_illness/">Individual  Sickness Detail</a>
        <ul class="submenu">
              <!-- <li><a href="edit_username.php" title="Update Username">Change Username</a></li>   
                    <li><a href="edit_password.php" title=" Update Password">Change Password</a></li> -->
                    
                    </ul>
        
    </li>

 


      <li>
        <form action="/Doct/doctConv/" style=" height:35px;border: 0px; background-color: #3399FF;" id="changesicknessform_form" method="post">
{% csrf_token %}
<input type="hidden" name="dtelno" value="{{phonedoctor}}" style="width: 200px; border: 0px; " id="dname"/>

<tr><td style="width: 4px; padding-bottom: 10px"><input type="submit" name="submit" value="Converse"  style="width: 100px; border: 0px; background-color: #3399FF; color: white;" /></td></tr>

</form>
          <ul class="submenu">
              <!-- <li><a href="view_verification.php" title="Verification Details">View Verification</a></li>
              <li><a href="edit_vcode.php" title="Verification Edit">Edit Verification</a></li> -->
                    
                    </ul>
         </li>







      <li><a href="/Doct/" title="Logout">Logout</a>
        <ul class="submenu">
             <!--  <li><a href="edit_username.php" title="Update Username">Change Username</a></li>   
                    <li><a href="edit_password.php" title=" Update Password">Change Password</a></li> -->
                    
                    </ul>
        
    </li>


  

   
                    
   </ul>
</nav>

</div>



{% endblock %}

{% block body_block %}

      <div id="content">
  
<h1 style="color: #337ab7; font-size: 18px;margin-left: 400px;font-weight: bold;">Converse</h1>
{% for pmem in pmem %}




  <form action="/Doct/dviewmsg/" id="chat-form" style=" height:35px;margin-left: 400px; border:
  0px; width:60px;" id="changesicknessform_form" method="post">
{% csrf_token %}
<input type="hidden" name="telno" value="{{pmem.mem_phone}}" style="width: 200px; border: 0px; " id="dname"/>

<tr><td style="width: 4px; padding-bottom: 10px"><input type="submit" name="submit" value="{{pmem.mem_phone}}"  style="width: 100px; border: 0px; background-color: white; color: #337ab7; " /></td></tr>

</form>


{% endfor %}  





</div>



{% endblock %}

{% block footer %}
<p>Posted by Mandela Shaban<br/>Contact Information:<a href="mailto:mandelashaban593@gmail.com">mandelashaban593@gmail.com</a><br/>
&copy; Consult Doctor : Fast and Cheap Response 2016</p>
{% endblock %}