


<div class="example1" align="Center">
<h3> Doctors available now, consult them... </h3>
</div>
<p>&nbsps;</p>
   <p>&nbsps;</p>
 <p>&nbsps;</p>
   <p>&nbsps;</p>

<form id="signup" action="/Doct/enterpay/"  method="POST" style=" position:absolute; 
    left: 440px;
    display:inline-block;
    z-index:10;margin-top:25px width:300px;">
{% csrf_token %}
        
        
            <h3>Log In</h3>
          
    

            <p>Username:<br>
        
            <input type="text" placeholder="username" name="username"  autofocus  style="width:260px;height:30px;padding: 7px;" />
            </p>


            <p>Password:<br>
        
            <input type="password" placeholder="Password" name="password"  autofocus  style="width:260px;height:30px;padding: 7px;" />
            </p>

            
            
            <input type="hidden" name="role"  id="dname" value="patient"/> 
             <input type="hidden" name="page"  id="dname" value="0"/> 
           

            <p>

            <input type="submit" id="submit"  placeholder="Enter Message" value="Log in" name="SUBMIT" required>
           
             </p>

   

    </form>






    <style style="text/css">
.example1 {
 height: 50px;  
 overflow: hidden;
 position: relative;
 left: 400px;
  width: 900px;
}
.example1 h3 {
 font-size: 3em;
 color: limegreen;
 position: absolute;
  width: 900px;

 height: 100%;

 margin-left:400px;
 margin-bottom: 300px;

 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);    
 transform:translateX(100%);
 /* Apply animation to this element */  
 -moz-animation: example1 15s linear infinite;
 -webkit-animation: example1 15s linear infinite;
 animation: example1 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes example1 {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes example1 {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes example1 {
 0%   { 
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%);       
 }
 100% { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%); 
 }
}
</style>


