{% load staticfiles %}
{{illmsg}}


    <!-- PAGE HEADER -->
    <!-- FORM -->
    <!-- pass in the variable if our form is valid or invalid -->
    <form ng-app="myApp"  id="illness" class="form-style-6" action="/Doct/illness/" method="post" ng-controller="validateCtrl" name="myForm" novalidate>
{% csrf_token %}

<img src="{% static 'img/images4.jpg' %}" alt="pat" width="50px" height="50px" align="left" /><h1>Consult Doctor</h1>


<p>Sickness Complicated ?:<br>

<select id='purpose' ng-model="purpose" required="True">
<option value="None">Select option</option>
<option value="0">No</option>
<option value="1">Yes</option>

</select>
  <span style="color:red" ng-show="myForm.purpose.$dirty && myForm.purpose.$invalid">
  <span ng-show="myForm.purpose.$error.required">An option is required.</span>
  </span>
</p>
  
  <p id="cond_options" >Sickness Condition:<br>

  <select name="illness"  ng-model="illness" required="True" style="width: 160px;">{% include "Doct/cond_options.html" %}
</select>
  <span style="color:red" ng-show="myForm.illness.$dirty && myForm.illness.$invalid">
  <span ng-show="myForm.illness.$error.required">Sickness condition is required.</span>
  </span>
</p>

 <p style='display:none; padding: 18px' id='business'>Explain sickness Condition:<br>

 <input type='text' class='text' name='illness'  ng-model="illness"  Placeholder="sickness Condition" value size='20' />

  <span style="color:red" ng-show="myForm.illness.$dirty && myForm.illness.$invalid">
  <span ng-show="myForm.illness.$error.required">sickness Condition is required.</span>
  </span>
</p>


 <p>
You need an ambulance ?:<br>

<select name="amb" id="ambulance" ng-model="amb" required="True">
<option value="">Select option</option>
<option value="0">No</option>
<option value="1">Yes</option>
</select>
  <span style="color:red" ng-show="myForm.amb.$dirty && myForm.amb.$invalid">
  <span ng-show="myForm.amb.$error.required">Ambulance option is required.</span>
  </span>
</p>

 <p>
Patient Name:<br>

<input type="text" name="pname" ng-model="pname" Placeholder="names" id="pname"/>
  <span style="color:red" ng-show="myForm.pname.$dirty && myForm.pname.$invalid">
  <span ng-show="myForm.pname.$error.required">Patient Name is required.</span>
  </span>
</p>

 <p>
Patient Age:<br>

<input type="text" name="page" ng-model="page" Placeholder="Patient Age" id="page"/>
  <span style="color:red" ng-show="myForm.page.$dirty && myForm.page.$invalid">
  <span ng-show="myForm.page.$error.required">Patient Age is required.</span>
  </span>
</p>


 <p>
Mobile Number:<br>
<input type="text" name="telno"  id="telno" ng-model="telno" Placeholder="Mobile Number"/>
  <span style="color:red" ng-show="myForm.telno.$dirty && myForm.telno.$invalid">
  <span ng-show="myForm.page.$error.required">Mobile Number is required.</span>
  </span>
</p>

  <input type="submit"
  ng-disabled="myForm.illness.$dirty && myForm.illness.$invalid ||
  myForm.amb.$dirty && myForm.amb.$invalid ||
  myForm.pname.$dirty && myForm.pname.$invalid  ||
  myForm.page.$dirty && myForm.page.$invalid ||
  myForm.telno.$dirty && myForm.telno.$invalid" class="btn btn-primary" value="Submit">
</p>

    </form>

    <script>
var app = angular.module('myApp', []);
app.controller('validateCtrl', function($scope) {
    $scope.illness = '';
    $scope.amb= '';
    $scope.pname= '';
    $scope.page = '';
    $scope.telno = '';
});
</script>




<div id="secure_area_message" align="center"></div>


