{% load staticfiles %}

<div style="visibility:visible;position:absolute;top:180px;left: 580px;">

       <form id="signu" action="/Doct/illness/"  method="POST" style=" display: inline-block;
vertical-align: top;
text-align: left;
width: 50%;">
{% csrf_token %}
       
        <img src="{% static 'img/images4.jpg' %}" alt="pat" width="50px" height="50px" align="left" />
            <h3>Consult </h3>
          
 
        
      


            <p style="padding: 4px">Disease  signs (Condition):<br>

             <select name="comp_signs"  required="True" style="width: 160px;" autofocus>{% include "Doct/cond_options.html" %}
              </select>
              </p>

               <p style=' padding: 4px' id='business'>Explain Disease signs:<br>
               <textarea type='text' class='text' name='illness' rows="3" cols="38"  Placeholder="Disease signs" value size='20'  autofocus></textarea>

               </p>

                <p style="padding: 4px">
                You need an ambulance ?:<br>
                <a href="/Doct/ambulance/"><input value="1" type="radio" name="amb" onClick="displayForm(this)"></input>Yes</a>&nbsp;&nbsp;&nbsp;
               <input value="0" type="radio" name="amb" onClick="displayForm2(this)"></input>No


               </p>

                <p style="padding: 4px"> Gender:<br>
                 <select type="text" name="gender" Placeholder="Patient Age" id="page" autofocus>
                 <option value="Male">Male</option>
                 <option value="Female">Female</option>

                 </select>
              
                </p>

`                <p style="padding: 4px"> Phonenumber:<br>    
                 <input type="telno" name="telno"  id="password"  Placeholder="Mobile Number" />
                 </p>


                <p style="padding: 4px"> Doctor:<br>
                 <select type="text" name="dname" Placeholder="Patient Age" id="page" autofocus>
                 <option value="Peter">Choose A Doctor</option>
                 <option value="Peter">Peter(General Doctor)</option>
                 <option value="John">John(General Doctor)</option>
                 <option value="Anguda">Anguda(Physicians)</option>

                 </select>
              
                </p>


                <input type="hidden" name="username"  id="username"   value="{{username}}"/>
                 <input type="hidden" name="password"  id="password" value="{{password}}"/>

                <input type="hidden" name="role"  id="dname" value="patient"/> 
                <input type="hidden" name="page"  id="dname" value="0"/> 
           

            <p style="padding: 4px">


            <input type="submit" id="subm"  class="read" style="font-size: 110%;
line-height: 1;
text-align: center;
background-color: #1fadc5;
display: inline-block;
color: #fff !important;
border-radius: 3em;
cursor: pointer;
max-width: 350px;
width: 100%;
padding: 0.9em;
margin: 0.6em 0;
border: 0;"   value="Submit" name="SUBMIT" required>
           
             </p>

    </form>

    </div>




