<div id="" style="margin-left: 300px">
<fieldset class="first">
<h3> Log In </h3>

<form  action="/Doct/login/"  method="POST">
{% csrf_token %}

<table>

<tr  style="padding: 10px"><td style="padding-bottom:10px;">
<label class="labelone" for="username" required>Telephone:</label></td>
<td style="padding-bottom:10px;">
<input name="telno" type="user" type="text"/><br/></td></tr>
<br/>
<tr  style="padding: 30px; padding-bottom:20px">
<td style="padding-bottom:10px;"><label for="telno">Password:</label></td>
<td style="padding-bottom:10px;"><input  name="password" type="password"  /></td>
</tr>


<tr  style="padding: 10px"><td style="padding-right:20px;"><input class="btn" name="submit" type="reset" value="Clear Form" /></td><td><input class="btn" name="submit" type="submit" value="Log In" /></td></tr>
</table>

</form>

</fieldset>

