{% extends 'Doct/base.html' %}

<!DOCTYPE HTML>
{% load static %}
<html>
<head>
<title>Doctor(Medical)  Consultation Website | Home </title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="{% static 'css/slider.css' %}" rel="stylesheet" type="text/css" media="all"/>
<script src="http://code.angularjs.org/1.2.6/angular.js"></script> 
    <script src="app.js"></script>

    <style type="text/css">
      html, body { height: 100%; padding: 0; margin: 0; }
div { width: 50%; height: 50%; float: left; }
#div1 { background: #DDD; }
#div2 { background: #AAA; }
#div3 { background: #777; }
#div4 { background: #444; }



    </style>
    
</head>
<body>

{% block nav_bar %}
 {% include "Doct/patient_nav_bar.html" %} 
{% endblock %}



{% block body_block %}









<div id="div2">

{% if onepdiog and pay_status == True  %}

 

{% include "Doct/converse_diogD.html" %}




{% else %}



{% include "Doct/converse_diogDs.html" %}



{% endif %}  <!-- End converse if -->



<!-- Form for explaining condition -->

{% include "Doct/expillness.html" %}




</div>


<div id="div3">

{% if qconvs %}

<!-- Form for explaining condition -->

{% include "Doct/expillness.html" %}
<div style="visibility:hidden; position:relative;top:-110px;margin-top:40px" id="ccformContainer">

</div>

{% endif %}








<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p><p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>


<div class="footer-bottom" style="width: 2000px; ">
<div class="wrap">  
  <div class="copy">
    <p>ES - DOCTOR&copy; 2017 All rights Reserved | Design by <a href="http://w3layouts.com">Mandela Shaban</a> &nbsp;&nbsp;&nbsp;Photos by <a href="http://www.freegreatpicture.com/">Freegreatpicture</a></p>
  </div>
 </div>
</div>
</body>
</html>

        {% endblock %}
