{% extends 'Doct/base.html' %}

{% load staticfiles %}

{% block navbar %}

<div id = "navigation">

<nav class="cf">
  <ul class="topmenu">
    <!--<li><a href="#" title="Home Page" class="current">Home</a></li>
    -->

 
      <ul class="submenu">
              <li><a href="view_login.php" title="View Taxi Details">View Login</a></li>
          <li><a href="edit_login.php" title="Update Taxi Details">Update Login</a></li>                <li><a href="delete_login.php" title="Delete Taxi Details">Delete Login</a></li>           
                    </ul>

        </li>
          <li><a href="/Doct/" title="Logout">Home</a>
        <ul class="submenu">
              <!-- <li><a href="edit_username.php" title="Update Username">Change Username</a></li>   
                    <li><a href="edit_password.php" title=" Update Password">Change Password</a></li> -->
                    
                    </ul>
        
    </li>
   
   
 
     <li><a href="/Doct/receipt/">Print reciept</a>
          <ul class="submenu">
            <!--   <li><a href="view_verification.php" title="Verification Details">View Verification</a></li>
              <li><a href="edit_vcode.php" title="Verification Edit">Edit Verification</a></li> -->
                    
                    </ul>
         </li>


          <li><a href="/Doct/authdiog/">View Your Diognosis</a>
        <ul class="submenu">
              <!-- <li><a href="edit_username.php" title="Update Username">Change Username</a></li>   
                    <li><a href="edit_password.php" title=" Update Password">Change Password</a></li> -->
                    
                    </ul>
        
    </li>



     <li><form action="/Doct/converse/" style="height:35px;border: 0px; background-color: #3399FF" id="changesicknessform_form" method="post">
{% csrf_token %}

<input type="hidden" name="telno" value="{{ptelno}}" style="width: 200px; border: 0px; " id="dname"/>

<input type="hidden" name="dtelno" value="0754307471" style="width: 200px; border: 0px; " id="dname"/>

<tr><td style="width: 4px; padding-bottom: 10px"><input type="submit" name="submit" value="Converse"  style="width: 100px; border: 0px; background-color: white; color: #337ab7; " /></td></tr>

</form>
        <ul class="submenu">
              <!-- <li><a href="edit_username.php" title="Update Username">Change Username</a></li>   
                    <li><a href="edit_password.php" title=" Update Password">Change Password</a></li> -->
                    
                    </ul>




      <li><a href="/Doct/" title="Logout">Logout</a>
        <ul class="submenu">
             <!--  <li><a href="edit_username.php" title="Update Username">Change Username</a></li>   
                    <li><a href="edit_password.php" title=" Update Password">Change Password</a></li> -->
                    
                    </ul>
        
    </li>



    


  

   
                    
   </ul>
</nav>

</div>



{% endblock %}

{% block body_block %}


<br/>

 <br/>   
<div id="div1" >





{% if qconvs %}

<table style="">

<tr><td style="width: px"><h1 style=""></h1></td></tr>
<tr><td style="width: 200px"><a href="/Doct/patientConverse/{{qconv.dtelno}}/{{qconv.telno}}/">
{{dname}}(Doctor)
<br/>

{{dtelno}}

</td></tr>

{% for qconv in qconvs %}

<tr><td style="width: 200px">{{qconv.dtelno}}</td></tr>
<tr><td  style="width: 200px">{{qconv.dmsg}}</td></tr>
<tr style=""><td  style="width:200px;">{{qconv.telno}}</td></tr>
<tr style=""><td  style="width:200px;padding-bottom: 7px">{{qconv.pmsg}}</td></tr>


{% endfor %}  

</table>
</div>


{% else %}


{% endif %}


{% if pdiogs %}

 

<div id="div2" >

<table>
<tr><td style="margin-right:700px;width: 200px;font-size: 12px">

 <form action="/Doct/converse/" style=" height:35px;border: 0px;  width:60px;" id="changesicknessform_form" method="post">
{% csrf_token %}
<tr><td style="width: 200px"><h1 style="color: #337ab7; font-size: 18px;font-weight: bold;">Converse</h1></td></tr>
<tr style="border: 0px; padding-bottom: 7px"><td style="width: 100px; padding-bottom: 7px">Peter(Doctor)</td></tr>

<input type="hidden" name="telno" value="{{ptelno}}" style="width: 200px; border: 0px; " id="dname"/>

<tr><td style="width: 4px; padding-bottom: 10px"><input type="submit" name="submit" value="0754307471"  style="width: 100px; border: 0px; background-color: white; color: #337ab7; " /></td></tr>

</form>

</td></tr>

</table>

</div>




<div id="div3" >

<table  style="margin-right: 1000px">

{% if pdiogs %}


 {% if pdiogs %}
<tr><td style="width: 200px">Sickness Details</td></tr>
{% endif %}


{% for pdiog in pdiogs %}

<tr><td style="width: 200px">{{pdiog.telno}}</td></tr>


{% if pdiog.dname %} 

<tr><td  style="width: 200px">{{pdiog.illness}}  </td></tr>

{{pdiog.diognosis}} {% else %} 
<p>Pay 3,000 to Mob Phone<br> 0754307471 for seeing<br>doctor's response 
</p>
{% endif %}

{% endfor %}
</table>

</div>

  



<div id="div4">
<table>

 <tr><td style="margin-top: 0px; right:0px">{% include "Doct/expillness.html" %}</td>

{% else %}

 <td style="margin-top: 0px;right:0px">{% include "Doct/expillness.html" %}</td></tr>


{% endif %}



{% else %}






</table>
</div>



</div>

<table>
{% if amb_msg %}

<tr><td style="margin-top: 0px"> <h1 style="color:green;margin-left:200px" align="center">{{amb_msg}}<br/> After Sending  Fee of  Ugx.20,000  to 0754307471 First</h1></td></tr>

{% endif %}
<tr><td style="margin-top: 0px"> {% include "Doct/expillness2.html" %}</td></tr>
<tr><td style="margin-top: 0px"> {% include "Doct/ambulance.html" %}</td></tr>
</table>




{% endif %}



{% endblock %}

