faskjjjjjjjjjjjjjjjjjjjjjjjjjjjbn

{% load static %}

{% for pdiog in pdiogs %}

<tr><td style="width: 200px">{{pdiog.telno}}</td></tr>


<tr><td  style="width: 200px">{{pdiog.illness}}  </td></tr>

<tr style=""><td  style="width:400px;padding-bottom: 7px"> {% if pdiog.demail %} {{pdiog.comp_signs
}} {% else %} <font style="color:green">Pay 3,000 to Mob Phone 0754307471 for seeing doctor's response</font>{% endif %}</td></tr>

{% endfor %}  



<tr><td style="width: 200px">{{onediog.telno}}</td></tr>


<tr><td  style="width: 200px">{{onediog.diognosis}}  </td></tr>

<tr style=""><td  style="width:400px;padding-bottom: 7px">  {{onediog.comp_signs}} <font style="color:green">Pay 3,000 to Mob Phone 0754307471 for seeing doctor's response</font></td></tr>


